.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 568px;
}

.global {
    width: 600px;
    height: 912px;
}

.scroll {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 464px;
}

.ingredients {
    height: 656px;
}
