.price {
    justify-content: center;
}

.card {
    cursor: pointer;
    color: white;
}

.card:not(:nth-child(2n)) {
    margin-right: 24px;
}

.name {
    width: 272px;
    height: 48px;
    text-align: center;
    padding-left: 0;
    padding-right: -16px;
}

.relative {
    position: relative;
}
