.text_center {
    text-align: center;
}

.elements_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    width: 120px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data:not(:last-child) {
    margin-right: 20px;
}

.container {
    width: 520px;
}

.detail_container_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    justify-content: center;
}
