body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #131316;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #2f2f37;
}

::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}

a,
a:visited {
    text-decoration: none;
}

.modal-container--active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    margin: 0 auto;
    padding-top: 180px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-error {
    color: crimson;
}

.form-container {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#modal-container {
    z-index: 100;
}
